html {
  font-size: 20px;
  color: #f9fdf9;
  font-size: 30px;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
  background-color: rgb(12, 41, 10);
  font-family: 'Inter', sans-serif;
}

body {
  position: absolute;
  top: -8%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  margin: auto;
  text-align: center;
  width: 100%;
  background-image: url('../src/images/background.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 61%;
}

#logo-image {
  width: 400px;
  height: 400px;
}

header {
  transform: translateY(-180%);
  left: -0.5%;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 0;
}

.header-labels {
  font-family: 'Big Shoulders Stencil Display', cursive;
  margin-left: 20px;
  border-bottom: 2px solid  #f9fdf9;
}

.header-labels:hover{
  color: wheat;
  text-shadow: 2px 2px 2px white;
  cursor: pointer;
}

#footer {
  padding-top: 8px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(0, 0, 0); 
  color: white;
  text-align: center;
  font-size: 19px;
}

#content-container {
  font-size: 0;
  margin: auto;
  white-space: pre;
  background: rgba(12, 41, 10,  0.5); 
  margin-bottom: 2px;
  min-height: 657px;
  width: 600px;
  animation: fadeIn 1s;
}

#home-content {
  font-size: 25px;
  margin-top: 0px;
  padding-top: 0px;
  line-height: 25px;
  margin-bottom: 5px;
  animation: fadeIn 1s;
}

#home-image {
  width: 400px;
  margin-bottom: 45px;
  opacity: 1;
  animation: fadeIn 1s;
}

#menu-content {
  padding-top: 20px;
  width: 600px;
  font-size: 15px;
  font-weight: bold;
  animation: fadeIn 1s;
}

.menu-items {
  display: flex;
  background: rgba(109, 90, 66, 0.5);
  padding: 8.5px 5px 5px 8.5px;
  margin-bottom: 5px;
  border-style: outset;
  border-color: #f9fdf9;
  white-space: normal
}

.menu-items > span:nth-child(2) {
  flex-grow: 2;
}

.item-img {
  align-self: flex-start;  
  border-style:ridge;
  border-color: #f9fdf9;
  width:110px;
  height: 110px;
  margin-right: 8.5px;
}

#contact-content {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
  padding-top: 0px;
  line-height: 25px;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 14px;
  animation: fadeIn 1s;
}

#map-img {
  border-style:ridge;
  border-color: wheat;
  opacity: 0.85;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
